.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-thumbnail{
  border: 0px;
  box-shadow: none;
  border-radius:0px;
  width: 100%;
  }

.degree{
  text-decoration: none;
}

.degree:hover{
  text-decoration: none;
}

.degreeSelected{
  color:#338ef9;
}

.degreeNotSelected{
  color:#6c757d;
}

/* Flex Item - TodayCard and DayCard*/
.list {
  display: flex;
  flex-wrap: wrap;
}
@media all and (min-width: 40em) {
  .list-item {
    width: 50%;
  }
}
@media all and (min-width: 60em) {
  .list-item {
    width: 33.33%;
  }
}
.list-item {
  display: flex; 
  padding: 0.5em;
  width: 100%;
}
.list-content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 1em;
  width: 100%;
}
.list-content p {
 flex: 1 0 auto;
}
/* End Flex Item*/


